<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to "みんなの節約術", boards_path, class: "btn btn-outline-dark" %>
    <%= link_to "みんなの節約術", edit_board_path, class: "btn btn-outline-dark" %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4><%= @board.title %></h4>
  </div>
    <div class="card-body">
      <p class="card-text"><%= @board.body %></p>
      <p class="text-right font-weight-bold mr-10">~</p>
    </div>
</div>